:root
{
--FuenteTitulo:var('PT Sans', 'sans-serif');
--FuenteParrafo:var('Open Sans', 'sans-serif');

--primario:#313131;

--gris:#dddddd;
--blanco:#fff;
--negro: #000;
}

h1
{
    font-family: var(--FuenteTitulo);
    border: 0;
    margin: 0;
    padding: 0;
}

.contacto-form
{
    text-align: center;
    color: var(--primario);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--FuenteTitulo);
}

.logo
{
    width: 120px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: 6rem;
    padding-left: 1rem;
}

.header 
{
    height: 3rem;
    background-size: cover;
}

.header__texto 
{
   text-align: left;
   color: var(--blanco);
}

.navegacion__enlace 
{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    justify-content: space-between;
    font-weight: bold;
}

.navegador {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegador {
        flex-direction: row;
        justify-content: space-between;
    }
}

.span
{
    color: var(--primario);
    font-size: 1.2rem;
    font-family: var(--FuenteParrafo);
    justify-content: end;
    font-style: italic;
    margin-left: 2rem;
}

p
{
    font-size: 1 rem;
    font-family: var(--FuenteParrafo);
}

.contenedor
{
    display:block;
    justify-content: space-between;
    background-color: var(--blanco);
}

.navegador
{
    width: min(38%, 120rem);
    margin: 0 60%;
}
.a
{
    text-decoration: none;
}

img 
{
    max-width: 100%;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

h1, h2, h3, h4 
{
    font-family: var(--FuenteTitulo);
    line-height: 1.2;
    
}

.cocobutter
{
    font-size: 5rem;
    
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;

}
h3 
{
    font-size: 3.2rem;
}
h4 
{
    font-size: 2.8rem;
}
img 
{
    max-width: 100%;
}

.centrar-texto 
{
    text-align: center;
}

@media (min-width: 768px) 
{
    .navegacion 
    {
        display: flex;
        gap: 2rem;
    }
}

@media (min-width: 768px) 
{
    .contenido-principal 
    {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}    
.contenido
{
    background-image: url(../img/producto\ infografia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.contenido-principal 
{
    position: absolute;
    background-color: rgba( 0,0,0, .8 ); /** Anterior **/
    background-color: rgb( 0 0 0 / 70% );
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-info
{
    color: var(--blanco);
    margin-top: 2rem;
    text-align: left center;
}

/* GALERIA INICIO*/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 100%;
    padding: 5px;
}

@media screen and (min-width: 480px) {
    .column {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .column {
        width: 33.33%;
    }
}

@media screen and (min-width: 992px) {
    .column {
        width: 25%;
    }
}

.img-container {
    position: relative;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.img-container:hover .overlay {
    opacity: 1;
}

.img-container .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* GALERIA FIN */

/* BOTON INICIO */
.boton
{
    background-color: var(--primario);
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5rem;
    width: 20%;
    text-align: center;
    border: none;
    display: inline-block; /* mostrar como bloque */
    margin: 4px 2px; /* margen exterior */
    cursor: pointer; /* cambiar el cursor al pasar por encima */
}
/* BOTON FIN */

.section-form
{
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;

}

.formulario 
{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
    text-align: center;
    background-color: #949393;
    color: var(--blanco);
    font-size: 1rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.sombra 
{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.48);
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset 
{
    border: none;
}

.formulario legend 
{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    }
}
.campo 
{
    display: flex;
    margin-bottom: 2rem;
    margin: 2rem;
}

.input-text
{
    width: 100%;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
}

.campo__field 
{
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea 
{
    height: 20rem;
}

label
{
    font-size: 1.2rem;
    margin: auto;
    margin-right: 1rem;
    margin-left: 1rem;
}

.footer
{
    background: var(--gris);
    margin: 0%;
    padding: auto;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
}